{% extends 'base.html'%}
{% block content %}
<h1>{{item}}</h1>
<h2>Business Objectives</h2>
<p>{{comment}}</p>

<div class="row">
    {% for item in busobjs %}
      <div class="col-sm-3">
          <div class="card-header" style="background-color: #AC97CC;"><h3 class="card-title">{{item}}</h3></div>
          <div class="card-body" style="background-color: #D7CCE6;">
              <h4>Processes and their Risks</h4>
                  {% for process in item.links.all %}
                    {% if process.type == "process" %}
                      <p class="card-text"><b>Process: <a href='{% url 'ind' 'process' item.id %}'>{{process}}</a></b></p>
                      {% for risk in process.links.all %}
                        {% if risk.type == "risk" %}
                          <p class="card-text">Risk: <a href='{% url 'ind' 'risk' item.id %}'>{{risk}}</a></p>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor%}
          </div>
          <div class="card-body" style="background-color: #D7CCE6;">
              <h4>Risks associated with {{item}}</h4>
                  {% for risk in item.links.all %}
                    {% if risk.type == "risk" %}
                      <p class="card-text"><b>a href='{% url 'ind' 'risk' risk.id %}'>{{risk}}</a></b></p>
                    {% endif %}
                  {% endfor%}
          </div>
      </div>
    {% endfor %}
</div>
<br>
<div class="card-body" style="background-color: #D7CCE6;">
<form action='' method = POST>
  {% csrf_token %}
  {{busobj_form.as_p}} <br>
  <input type = 'submit' value = 'Update' class='btn btn-secondary'>
</form>
</div>
<br>

<h3>Map</h3>
<canvas id="canvas"></canvas>


<script>
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
canvas.width= window.innerWidth - 200;
canvas.height = 500;
canvas.style.background = "#F0F0F0";
ctx.beginPath();
ctx.rect(0, 0, canvas.width, canvas.height);
ctx.strokeStyle = "#C8C8C8"
ctx.stroke();

function handle_submit_click() {
    console.log("Button pressed");
    const description = document.getElementById("description").value;
    console.log(description);

    }

class Node{
    constructor(x,y,w,h,text, description, c, colour_text,highlight, highlight_b, visible) {
        this.x = x;
        this.y = y;
        this.w = w;
        this.h = h;
        this.text = text;
        if (description === null) {description = "Null description"}
        this.description = description;
        this.c = c;
        this.colour_text = colour_text;
        this.highlight = highlight;
        this.highlight_b = highlight_b;
        this.visible = visible;
        console.log(this.text, this.x, this.y);
    }
    draw(ctx){
        ctx.beginPath();
        ctx.arc(this.x,this.y,this.h/2,Math.PI/2,-Math.PI/2);
        ctx.lineTo(this.x+this.w,this.y-this.h/2);
        ctx.arc(this.x+this.w,this.y,this.h/2,-Math.PI/2,Math.PI/2);
        ctx.closePath();
        if (this.visible) {ctx.strokeStyle = this.c;} else {ctx.strokeStyle = "white";}
        if (this.highlight) {ctx.fillStyle = "red";}
        if (this.highlight_b) {}
        ctx.fillStyle = "white";
        ctx.fill();
        ctx.stroke();
        if (this.visible) {ctx.fillStyle = "black";} else {ctx.fillStyle = "white";}
        ctx.font = '14px arial';
        ctx.fillText(this.text,this.x,this.y+this.h*.18);
    }

    clickNode(xmouse, ymouse) {
        if (xmouse > this.x - this.h/2 && xmouse < this.x + this.w + this.h/2
         && ymouse > this.y - this.h / 2 && ymouse < this.y + this.h / 2){
            this.highlight = true;
            this.draw(ctx);
            document.getElementById("Message").innerHTML = this.description + " ";
            return true;
        } else {
            this.highlight_b = false;
            if (this.highlight) {this.highlight = false; this.highlight_b = true;}
            this.highlight = false;
            this.draw(ctx)
            return false;
        }
    }
}

class Connection {
    constructor(child, parent, highlight, visible) {
        this.child = child
        this.parent = parent
        this.highlight = highlight
        this.visible = visible}

    draw(ctx) {
        ctx.beginPath();
        ctx.moveTo(this.parent.x+this.parent.w/2,this.parent.y);
        ctx.lineTo(this.child.x+this.child.w/2,this.child.y);
        if (this.visible) {ctx.strokeStyle = this.c;} else {ctx.strokeStyle = "white";}
        ctx.fill();
        ctx.closePath();
        ctx.stroke();}
}

canvas.addEventListener('click',(event) => {
    const rect = canvas.getBoundingClientRect();
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;
    document.getElementById("Message").innerHTML = "No description";
    for (let i = 0; i < nodes_js.length; i++) {
        nodes_js[i].clickNode(x,y);
    }
});

// create js nodes and connections
const nodes_js = []
{% for node in nodes %}
    var colour = "{{node.colour}}"
    var node = new Node({{node.x}},{{node.y}},120,30, "{{node.name}}", "{{node.description}}", colour, "white", false, false,
        {% if node.visible %} true {% else %} false {% endif%})
    console.log("{{node.name}}")
    nodes_js.push(node);
{% endfor %}

const connections_js = []
{% for connection in connections %}
    for (let i = 0; i < nodes_js.length; i++) {
        if (nodes_js[i].text == "{{connection.a}}") {child = nodes_js[i];}
        if (nodes_js[i].text == "{{connection.b}}") {parent = nodes_js[i];}
    }
    var connection = new Connection(child, parent, false);
    connections_js.push(connection);
{% endfor %}

for (let i = 0; i < connections_js.length; i++) {
    connections_js[i].draw(ctx);
}
for (let i = 0; i < nodes_js.length; i++) {
    nodes_js[i].draw(ctx);
}

</script>

{% endblock %}
