{% extends 'base.html'%}
{% block content %}
<h1>{{item}}</h1>
<h2>Business Objectives</h2>
<p>{{comment}}</p>

<h1>{{header}}</h1>
<div class="row">
<div class="col-sm-9">
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #{{colour}};">
        <th>Business Objectives</th>
        <th>Processes</th>
        <th>Risks</th>
    </tr>
    {% for busobj in busobjs %}
    <tr>
        <td>
            <a href='{% url 'ind' busobj.type busobj.id %}'>{{busobj}}</a> (Level {{ busobj.level }}) </td>
        <td>
            <br>
            {% for process in busobj.links.all %}
            {% if process.type == "process" %}
              <a href='{% url 'ind' process.type process.id %}'>{{process}}</a><br>
            {% endif %}
            {% endfor%}
        </td>
        <td>
            {{ busobj.risk }}
            {% for process in busobj.links.all %}
            {% if process.type == "process" %}
              {{process.risk}}</a><br>
            {% endif %}
            {% endfor%}
        </td>
    </tr>
    {% endfor %}
</table>
</div>

<div class="col-sm-3">
<div class="card-header" style="background-color: #8FAADC;"><h3 class="card-title">Add Business Objective</h3></div>
<div class="card-body" style="background-color: #CDD9EF;">
    <form action='' method = POST>
      {% csrf_token %}
      {{form.as_p}} <br>
      <input type = 'submit' value = 'Update' class='btn btn-secondary'>
    </form>
</div>
</div>
</div>
<br>

<h3>Schedule - Actions</h3>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #8FAADC;">
        <th>Item</th>
        <th>Due Date</th>
    </tr>
    {% for x in actions %}
    <tr>
        <td> <a href='{% url 'ind' x.type x.id %}'>{{x}}</a></td>
        <td>{{x.date_due}}</td>
    </tr>
    {% endfor %}
</table>


<h3>Schedule - Controls</h3>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #8FAADC;">
        <th>Item</th>
        <th>Due Date</th>
    </tr>
    {% for x in controls %}
    <tr>
        <td>{{x}}</td>
        <td>{{x.next_due_inst}}</td>
    </tr>
    {% endfor %}
</table>

<h3>Schedule - Controls Testing</h3>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #8FAADC;">
        <th>Item</th>
        <th>Due Date</th>
    </tr>
    {% for x in controls %}
    <tr>
        <td>{{x}}</td>
        <td>{{x.next_due_test}}</td>
    </tr>
    {% endfor %}
</table>



<h3><a href='{% url 'ind' item.type item.id 'True' %}'> Map </a></h3>

    <canvas id="canvas"></canvas>

<script>
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
canvas.width= window.innerWidth - 200;
canvas.height = 500;
canvas.style.background = "#F0F0F0";
ctx.beginPath();
ctx.rect(0, 0, canvas.width, canvas.height);
ctx.strokeStyle = "#C8C8C8"
ctx.stroke();

function handle_submit_click() {
    const description = document.getElementById("description").value;
    }

class Node{
    constructor(x,y,w,h,text, description, c, colour_text,highlight, highlight_b, visible) {
        this.x = x;
        this.y = y;
        this.w = w;
        this.h = h;
        this.text = text;
        if (description === null) {description = "Null description"}
        this.description = description;
        this.c = c;
        this.colour_text = colour_text;
        this.highlight = highlight;
        this.highlight_b = highlight_b;
        this.visible = visible;

    }
    draw(ctx){
        ctx.beginPath();
        ctx.arc(this.x,this.y,this.h/2,Math.PI/2,-Math.PI/2);
        ctx.lineTo(this.x+this.w,this.y-this.h/2);
        ctx.arc(this.x+this.w,this.y,this.h/2,-Math.PI/2,Math.PI/2);
        ctx.closePath();
        if (this.visible) {ctx.strokeStyle = this.c;} else {ctx.strokeStyle = "white";}
        if (this.highlight) {ctx.fillStyle = "red";}
        if (this.highlight_b) {}
        ctx.fillStyle = "white";
        ctx.fill();
        ctx.stroke();
        if (this.visible) {ctx.fillStyle = "black";} else {ctx.fillStyle = "white";}
        ctx.font = '14px arial';
        ctx.fillText(this.text,this.x,this.y+this.h*.18);
    }

    clickNode(xmouse, ymouse) {
        if (xmouse > this.x - this.h/2 && xmouse < this.x + this.w + this.h/2
         && ymouse > this.y - this.h / 2 && ymouse < this.y + this.h / 2){
            this.highlight = true;
            this.draw(ctx);
            document.getElementById("Message").innerHTML = this.description + " ";
            return true;
        } else {
            this.highlight_b = false;
            if (this.highlight) {this.highlight = false; this.highlight_b = true;}
            this.highlight = false;
            this.draw(ctx)
            return false;
        }
    }
}

class Connection {
    constructor(child, parent, highlight, visible) {
        this.child = child
        this.parent = parent
        this.highlight = highlight
        this.visible = visible}

    draw(ctx) {
        ctx.beginPath();
        ctx.moveTo(this.parent.x+this.parent.w/2,this.parent.y);
        ctx.lineTo(this.child.x+this.child.w/2,this.child.y);
        if (this.visible) {ctx.strokeStyle = this.parent.c;} else {ctx.strokeStyle = "white";}
        ctx.fill();
        ctx.closePath();
        ctx.stroke();}
}

canvas.addEventListener('click',(event) => {
    const rect = canvas.getBoundingClientRect();
    const x = event.clientX - rect.left;
    const y = event.clientY - rect.top;
    document.getElementById("Message").innerHTML = "No description";
    for (let i = 0; i < nodes_js.length; i++) {
        nodes_js[i].clickNode(x,y);
    }
});

// create js nodes and connections
const nodes_js = []
{% for node in nodes %}
    var colour = "{{node.colour}}"
    var node = new Node({{node.x}},{{node.y}},120,30, "{{node.name}}", "{{node.description}}", colour, "white", false, false,
        {% if node.visible %} true {% else %} false {% endif%})
    nodes_js.push(node);
{% endfor %}

const connections_js = []
{% for connection in connections %}
    for (let i = 0; i < nodes_js.length; i++) {
        if (nodes_js[i].text == "{{connection.a}}") {child = nodes_js[i];}
        if (nodes_js[i].text == "{{connection.b}}") {parent = nodes_js[i];}
    }
    var connection = new Connection(child, parent, true, {% if connection.visible %} true {% else %} false {% endif%});
    connections_js.push(connection);
{% endfor %}

for (let i = 0; i < connections_js.length; i++) {
    connections_js[i].draw(ctx);
}
for (let i = 0; i < nodes_js.length; i++) {
    nodes_js[i].draw(ctx);
}

</script>

{% endblock %}
