{% extends 'base.html'%}
{% block content %}

<a href="{% url 'new' type %}" class='btn btn-outline-secondary btn-sm'>New</a>


<h1>{{header}}</h1>
<table class='table table-striped table-hover table-bordered'>
    <tr style="background-color: #AC97CC;">
        <th>Name</th>
        <th>Description</th>
        <th>Level</th>
        <th>Map</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    {% for item in list %}
    <tr>
        <td> <a href='{% url 'ind' type item.id %}'> {{item.name }} </a></td>
        <td> {{item.description }} </td>
        <td> {{item.level }} ({{item.x}},{{item.y}})</td>
        <td><a href='{% url 'map' type item.id %}' class='btn btn-outline-secondary btn-sm'> Map </a></td>
        <td><a href='{% url 'update' type item.id %}' class='btn btn-outline-secondary btn-sm'> Update </a></td>
        <td><a href='{% url 'delete' type item.id %}' class='btn btn-outline-secondary btn-sm'> Delete </a></td>
    </tr>
    {% endfor %}
</table>

<br><br>
{% endblock %}
