<!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">-->
<!--<nav class="navbar navbar-expand-lg navbar-dark style="background-color: #563D7C;">-->
<nav class="navbar navbar-dark navbar-expand-xl" style="background-color: #563D7C;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>

        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'role' %}" role='button' aria-expanded='false'>Roles</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'busobj' %}" role='button' aria-expanded='false'>Bus Obj</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'obligation' %}" role='button' aria-expanded='false'>Obligations</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'theme' %}" role='button' aria-expanded='false'>Themes</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'process' %}" role='button' aria-expanded='false'>Processes</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'risk' %}" role='button' aria-expanded='false'>Risks</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'metric' %}" role='button' aria-expanded='false'>Metrics</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'control' %}" role='button' aria-expanded='false'>Controls</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'list' 'issue' %}" role='button' aria-expanded='false'>Issues</a></li>
        <li class='nav-item'><a class='nav-link' href="{% url 'files' %}" role='button' aria-expanded='false'>Files</a></li>


      </ul>
    </div>
  </div>
</nav>